body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}
h2, h4, p, ol {
    text-align: left;
}
.container {
    max-width: 600px;
    text-align: center;
    margin:10px auto;
    padding: 15px 50px;
    background-color: lightcyan;
    border-radius: 25px;
}