body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}
h2, h4, p, ol {
    text-align: left;
}
.container {
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
    padding: 80px 30px;
    background-color: lightcyan;
    border-radius: 25px;
}